@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "primary";
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

